* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

section, header {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
}

hr {
  width: 80%;
  margin: auto;
  background: rgba(155, 155, 155, 0.358);
  border: 0px;
  height: 1px;
}

p {
  line-height: 1.5em;
  word-spacing: 0.15em;
}

pre {
  background: rgba(236, 236, 236, 0.664);
  border: 1px solid rgba(128, 128, 128, 0.24);
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 1rem;
  overflow: scroll;
  height: 10rem;
}

body::-webkit-scrollbar, .scroll::-webkit-scrollbar, pre::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
  position: absolute;
  border: 1px solid rgba(212, 212, 212, 0);
  background: rgba(196, 195, 195, 0.7411764706);
}

body::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb, .projects_tray::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

.projects_tray::-webkit-scrollbar {
  height: 0.2rem;
  position: absolute;
  border: 1px solid rgba(212, 212, 212, 0);
  background: rgba(163, 163, 163, 0.7411764706);
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

a:hover, button:hover {
  transform: scale(1.05);
}

.button-primary {
  display: flex;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.8rem 3rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.7rem;
  margin: 0 1rem;
  outline: 3px solid rgba(0, 0, 255, 0);
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.46);
  outline-offset: 1px;
  transition: all 0.2s;
}

.button-secondary {
  display: flex;
  background-color: rgba(199, 199, 199, 0.26);
  color: black;
  text-decoration: none;
  padding: 0.8rem 3rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.7rem;
  border: 1.5px solid black;
  margin: 0 1rem;
  outline: 3px solid rgba(0, 0, 255, 0);
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.46);
  outline-offset: 1px;
  transition: all 0.2s;
}

.keyword {
  color: rgb(214, 16, 214);
}

.string {
  color: rgb(43, 202, 43);
}

.number {
  color: orangered;
}

.built-in {
  color: rgb(238, 183, 2);
}

.function {
  color: blue;
}

.comment {
  color: rgb(161, 131, 75);
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: end;
}
.justify-start {
  justify-content: start;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-1 {
  display: flex;
  width: 10%;
}
.w-2 {
  display: flex;
  width: 20%;
}
.w-3 {
  display: flex;
  width: 30%;
}
.w-4 {
  display: flex;
  width: 40%;
}
.w-5 {
  display: flex;
  width: 50%;
}
.w-6 {
  display: flex;
  width: 60%;
}
.w-7 {
  display: flex;
  width: 70%;
}
.w-8 {
  display: flex;
  width: 80%;
}
.w-9 {
  display: flex;
  width: 90%;
}
.w-10 {
  display: flex;
  width: 100%;
}

.h-1 {
  display: flex;
  height: 10%;
}
.h-2 {
  display: flex;
  height: 20%;
}
.h-3 {
  display: flex;
  height: 30%;
}
.h-4 {
  display: flex;
  height: 40%;
}
.h-5 {
  display: flex;
  height: 50%;
}
.h-6 {
  display: flex;
  height: 60%;
}
.h-7 {
  display: flex;
  height: 70%;
}
.h-8 {
  display: flex;
  height: 80%;
}
.h-9 {
  display: flex;
  height: 90%;
}
.h-10 {
  display: flex;
  height: 100%;
}

.h-screen-1 {
  display: flex;
  min-height: 10vh;
}
.h-screen-2 {
  display: flex;
  min-height: 20vh;
}
.h-screen-3 {
  display: flex;
  min-height: 30vh;
}
.h-screen-4 {
  display: flex;
  min-height: 40vh;
}
.h-screen-5 {
  display: flex;
  min-height: 50vh;
}
.h-screen-6 {
  display: flex;
  min-height: 60vh;
}
.h-screen-7 {
  display: flex;
  min-height: 70vh;
}
.h-screen-8 {
  display: flex;
  min-height: 80vh;
}
.h-screen-9 {
  display: flex;
  min-height: 90vh;
}
.h-screen-10 {
  display: flex;
  min-height: 100vh;
}

.m-a {
  margin: auto;
}

.none {
  display: none !important;
}

.toggle {
  display: none;
}

.anti-toggle {
  display: flex;
}

#toggle {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: white;
  z-index: 2;
  box-shadow: -8px 7px 7px rgba(0, 0, 0, 0.1803921569);
  right: 0;
  flex-direction: column;
}

.nav {
  width: 100%;
  padding: 0 0.1rem;
  margin: auto;
  box-shadow: 0.1px 0.1px 19px rgba(128, 128, 128, 0.1098039216);
}
.nav_title-logo {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto 0.5rem;
}
.nav_title-text {
  margin: auto 0;
}
.nav_title-text h1 {
  font-weight: 900;
}
.nav_title-text h4 {
  font-weight: 200;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.nav_links {
  min-width: 20%;
  z-index: 1;
  cursor: pointer;
}
.nav_links li {
  margin: auto;
  padding: 2rem;
  height: -moz-max-content;
  height: max-content;
}
.nav_links li:hover {
  background-color: rgba(177, 177, 177, 0.137);
}
.nav_links li:hover a {
  font-weight: 700;
}
.nav_links a {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  cursor: pointer;
  transition: all 0.2s;
}
.nav_links a:hover {
  color: rgba(0, 174, 255, 0.664);
}

.hero, .content {
  overflow: hidden;
  position: relative;
  justify-content: center;
}
.hero_image, .content_image {
  z-index: 1;
  width: 30rem;
  height: 36rem;
}
.hero img, .content img {
  width: 30rem;
  filter: drop-shadow(-5px 0px 0px rgba(0, 174, 255, 0.664));
  height: 36rem;
}
.hero_intro, .content_intro {
  margin: 0 0 3rem 0;
  z-index: 1;
}
.hero_intro-call-to-action, .content_intro-call-to-action {
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.5rem 0;
  padding: 1rem 0;
  display: flex;
}
.hero_intro-call-to-action a:hover, .content_intro-call-to-action a:hover {
  outline: 3px solid rgb(28, 174, 245);
  transform: scale(1.01);
}
.hero_intro h1, .content_intro h1 {
  font-weight: 900;
  font-size: 3.5rem;
  margin: 1rem;
}
.hero_intro h2, .content_intro h2 {
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0.3rem 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.hero_intro p, .content_intro p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1rem;
}
.hero_text-bg, .content_text-bg {
  position: absolute;
  left: 0;
  top: 0;
}
.hero_text-bg h1, .content_text-bg h1 {
  font-size: 18em;
  line-height: 1.7;
  color: white;
  font-weight: 900;
  font-family: "Monoton", sans-serif;
  filter: drop-shadow(1px 1px 30px rgba(91, 156, 255, 0.178));
}
.hero_text-bg_alt h1, .content_text-bg_alt h1 {
  font-size: 17 5em;
  color: white;
  font-weight: 900;
  font-family: "Monoton", sans-serif;
  filter: drop-shadow(1px 1px 30px rgba(255, 244, 91, 0.555));
  top: 0%;
}

.projects {
  font-size: 13px;
}
.projects h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin: 1rem 0;
}
.projects_text-bg, .projects_text-bg h1 {
  font-size: 20em;
  z-index: -1;
  color: white;
  font-weight: 900;
  font-family: "Monoton", sans-serif;
  filter: drop-shadow(1px 1px 30px rgba(247, 134, 238, 0.205));
  top: -5%;
  left: 15%;
}
.projects_tray {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  margin: auto;
}
.projects_tray_card {
  height: 30em;
  background: white;
  margin: auto 1.5rem;
  min-width: 22em;
  border-radius: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.575);
  box-shadow: 6px 5px 0px rgba(173, 216, 230, 0.4901960784);
}
.projects_tray_card h2 {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: normal;
}
.projects_tray_card-image {
  height: 8em;
  width: 90%;
  outline-offset: 0.2rem;
  outline: 2px solid #7a7a7a;
  overflow: hidden;
  border-radius: 1rem;
  margin: 1rem auto;
}
.projects_tray_card-image img {
  height: 140%;
}
.projects_tray_card-hero {
  height: 15em;
  width: 90%;
  margin: 1rem auto;
}
.projects_tray_card-btns a.secondary {
  color: white;
  width: 95%;
  text-decoration: none;
  margin: 0.4rem auto;
  background-color: black;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
  transition: all 0.2s;
}
.projects_tray_card-btns a.primary {
  color: black;
  width: 95%;
  text-decoration: none;
  margin: 0.4rem auto;
  background-color: rgba(228, 228, 228, 0.842);
  border: 1px solid black;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
  transition: all 0.2s;
}
.projects_tray_card h1, .projects_tray_card p {
  text-align: center;
}

.contact {
  font-size: 13px;
  height: 100vh;
  padding: 2rem 0;
  box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
}
.contact h1 {
  text-align: center;
  font-weight: 900;
  font-size: 3.5rem;
  margin: 1rem 0;
}
.contact_text-bg, .contact_text-bg h1 {
  font-size: 20em;
  z-index: -1;
  color: white;
  font-weight: 900;
  font-family: "Monoton", sans-serif;
  filter: drop-shadow(1px 1px 100px rgba(167, 255, 174, 0.404));
  bottom: 0%;
  right: 15%;
}
.contact_form_pills_pill {
  background: black;
  box-shadow: 8px 8px 0px rgba(128, 128, 128, 0.459);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto 2rem;
}
.contact_form_pills_pill h1 {
  font-size: 1rem;
  color: white;
  font-weight: 700;
  margin: 1rem;
}
.contact_form_pills_pill h2 {
  font-size: 0.75rem;
  color: white;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.contact_form {
  width: 70%;
  background-color: white;
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.548);
}
.contact_form_form {
  background-color: white;
  border-left: 1px dashed rgba(128, 128, 128, 0.541);
}
.contact_form_form h2 {
  width: 80%;
  margin: auto;
}
.contact_form button {
  background: black;
  color: white;
  border-radius: 0.5rem;
  padding: 0.7rem 0;
  margin: 1rem auto;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 8px 8px 0px rgba(128, 128, 128, 0.459);
  transition: all 0.2s;
}
.contact_form_form-group {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.contact_form_form-group label {
  width: 80%;
  margin: 0.5rem auto;
}
.contact_form_form-group input {
  height: 2.5rem;
  border-radius: 0.5rem;
  margin: auto;
  width: 80%;
  outline: 0px solid rgba(0, 174, 255, 0.664);
  border: 1px solid rgba(128, 128, 128, 0.5294117647);
  padding: 0 1rem;
  transition: all 0.2s;
}
.contact_form_form-group input:focus {
  border: 2px solid black;
}
.contact_form_form-group input.message {
  height: 5rem;
  border-radius: 0.5rem;
  width: 80%;
}

.footer {
  height: 20vh;
  background-color: black;
  text-align: center;
  color: white;
}
.footer i, .footer a {
  color: white;
  font-size: 1.25rem;
  margin: 0.3rem 0.2rem;
  text-decoration: none;
}

.oti {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 200;
}

.outer {
  overflow: hidden;
  height: 80%;
}

.inner {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.548);
  border-radius: 50%;
  left: 42%;
  z-index: 1;
}

.top {
  top: -15px;
}

.bottom {
  bottom: -15px;
}

@media (max-width: 1060px) {
  .nav {
    width: 98%;
    min-height: 7vh;
  }
  .toggle {
    display: flex;
  }
  .anti-toggle {
    display: none;
  }
  .hero_image {
    border: 10px solid;
    z-index: 1;
    width: 17rem;
    overflow-y: hidden;
    border-radius: 100%;
    height: 17rem;
  }
  .hero_intro-call-to-action {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
  .hero img {
    width: 100%;
    filter: drop-shadow(-5px 0px 0px rgba(0, 174, 255, 0.664));
    height: 20rem;
  }
  .hero, .about, .projects, .contact, .content {
    flex-wrap: wrap;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin: 1.5rem auto;
  }
  .hero_intro, .about_intro, .projects_intro, .contact_intro, .content_intro {
    width: 100%;
    margin: 5rem 0;
  }
  .hero_intro h1, .about_intro h1, .projects_intro h1, .contact_intro h1, .content_intro h1 {
    font-size: 2rem;
    margin: 0 1rem;
  }
  .hero_intro h2, .about_intro h2, .projects_intro h2, .contact_intro h2, .content_intro h2 {
    font-size: 0.6rem;
  }
  .content_intro h2 strong {
    font-size: 0.6rem;
  }
  .projects_tray_card h2 {
    font-size: 1.1rem;
  }
  .top, .bottom {
    display: none;
  }
  .contact {
    box-shadow: 0px 0px 0px;
  }
  .contact_form {
    background-color: transparent;
    width: 100%;
    border: 0px;
  }
  .contact_form button {
    width: 95%;
  }
  .contact_form_pills {
    display: none;
  }
  .contact_form_form {
    background-color: transparent;
    width: 100%;
  }
  .contact_form_form-group label, .contact_form_form-group input, .contact_form_form-group input.message {
    width: 95%;
  }
  .hero {
    flex-wrap: wrap-reverse;
  }
  .about_hero {
    flex-wrap: wrap;
  }
  .projects h1, .contact h1 {
    font-size: 2rem;
    margin-left: 1rem;
    text-align: left;
  }
  .projects_text-bg, .projects_text-bg h1, .contact_text-bg h1 {
    font-size: 20rem;
  }
  .projects_tray {
    height: -moz-fit-content;
    height: fit-content;
    padding: 3rem 0;
    width: 100vw;
    overflow-x: scroll;
    margin: auto;
  }
  a {
    font-size: 0.8rem;
  }
  pre {
    margin: 1.5rem 1rem;
    height: 15rem;
  }
}
@media (max-width: 400px) {
  * {
    font-size: 14px;
  }
}
@media (max-width: 300px) {
  * {
    font-size: 11px;
  }
}/*# sourceMappingURL=index.css.map */