//     PRELIMINARIES   //

*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   // overflow-x: hidden;
   // border: .1px solid blue;
}
section, header{
   overflow: hidden;
}
body{
   font-family: 'Montserrat', sans-serif;
   // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background: white;
}
hr{
   width: 80%;
   margin: auto;
   background: rgba(155, 155, 155, 0.358);
   border: 0px;
   height: 1px;
}
p{
   line-height: 1.5em;
   word-spacing: .15em;
}
pre{
   background: rgba(236, 236, 236, 0.664);
   border: 1px solid rgba(128, 128, 128, 0.24);
   border-radius: 1rem;
   margin: 0 1rem;
   padding: 1rem;
   overflow: scroll;
   height: 10rem;
}


body::-webkit-scrollbar, .scroll::-webkit-scrollbar, pre::-webkit-scrollbar {
   width: .5rem;
   height: .3rem;
   position: absolute;
   border: 1px solid #d4d4d400;
   background: #c4c3c3bd;
}
body::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb, .projects_tray::-webkit-scrollbar-thumb{
   background-color: black;
   border-radius: 100px;
   padding-left: 5px;
   padding-right: 5px;
}
.projects_tray::-webkit-scrollbar{
   height: .2rem;
   position: absolute;
   border: 1px solid #d4d4d400;
   background: #a3a3a3bd;
}

//     VARIABLES     //

   $primary-color: rgba(0, 174, 255, 0.664);

//     PRIMITIVES   //

.tc{
   text-align: center;
}
.tl{
   text-align: left;
}
.tr{
   text-align: right;
}
a:hover, button:hover{
   transform: scale(1.05);
}
.button-primary{
   display: flex;
   background-color: black;
   color: white;
   text-decoration: none;
   padding: 0.8rem 5rem;
   width: fit-content;
   border-radius: 0.7rem;
   margin: 0 .5rem;
   outline: 3px solid rgba(0, 0, 255, 0);
   box-shadow: 5px 5px 0px rgb(128 128 128 / 46%);
   outline-offset: 1px;
   transition: all 0.2s;
}
.button-secondary{
   display: flex;
   background-color: rgba(199, 199, 199, 0.26);
   color: black;
   background: white;
   text-decoration: none;
   padding: 0.8rem 5rem;
   width: fit-content;
   border-radius: 0.7rem;
   border: 1.5px solid black;
   margin: 0 1rem;
   outline: 3px solid rgba(0, 0, 255, 0);
   box-shadow: 5px 5px 0px rgb(128 128 128 / 46%);
   outline-offset: 1px;
   transition: all 0.2s;
}

.keyword{color: rgb(214, 16, 214);}
.string{color: rgb(43, 202, 43);}
.number{color: orangered;}
.built-in{color: rgb(238, 183, 2);}
.function{color: blue;}
.comment{color: rgb(161, 131, 75);}

//     FLEX-BOX   //

.flex{
   display: flex;
}
.wrap{
   flex-wrap: wrap;
}
.row{
   display: flex;
   flex-direction: row;
}
.col{
   display: flex;
   flex-direction: column;
}

//     FLEX-BOX SPACING   //

.justify{
   &-center{
      justify-content: center;
   }
   &-between{
      justify-content: space-between;
   }
   &-evenly{
      justify-content: space-evenly;
   }
   &-around{
      justify-content: space-around;
   }
   &-end{
      justify-content: end;
   }
   &-start{
      justify-content: start;
   }
}

//     POSITION   //


.absolute{
   position: absolute;
}
.relative{
   position: relative;
}

.w{
   &-1{
      display: flex;
      width: 10%;
   } 
   &-2{
      display: flex;
      width: 20%;
   } 
   &-3{
      display: flex;
      width: 30%;
   } 
   &-4{
      display: flex;
      width: 40%;
   }
   &-5{
      display: flex;
      width: 50%;
   }
   &-6{
      display: flex;
      width: 60%;
   }
   &-7{
      display: flex;
      width: 70%;
   } 
   &-8{
      display: flex;
      width: 80%;
   } 
   &-9{
      display: flex;
      width: 90%;
   } 
   &-10{
      display: flex;
      width: 100%;
   }   
}
.h{
   &-1{
      display: flex;
      height: 10%;
   } 
   &-2{
      display: flex;
      height: 20%;
   } 
   &-3{
      display: flex;
      height: 30%;
   } 
   &-4{
      display: flex;
      height: 40%;
   }
   &-5{
      display: flex;
      height: 50%;
   }
   &-6{
      display: flex;
      height: 60%;
   }
   &-7{
      display: flex;
      height: 70%;
   } 
   &-8{
      display: flex;
      height: 80%;
   } 
   &-9{
      display: flex;
      height: 90%;
   } 
   &-10{
      display: flex;
      height: 100%;
   }   
}
.h-screen{
   &-1{
      display: flex;
      min-height: 10vh;
   } 
   &-2{
      display: flex;
      min-height: 20vh;
   } 
   &-3{
      display: flex;
      min-height: 30vh;
   } 
   &-4{
      display: flex;
      min-height: 40vh;
   }
   &-5{
      display: flex;
      min-height: 50vh;
   }
   &-6{
      display: flex;
      min-height: 60vh;
   }
   &-7{
      display: flex;
      min-height: 70vh;
   } 
   &-8{
      display: flex;
      min-height: 80vh;
   } 
   &-9{
      display: flex;
      min-height: 90vh;
   } 
   &-10{
      display: flex;
      min-height: 100vh;
   }   
}

//     MARGINS ND SPACINGS   //

.m{
   &-a{
      margin: auto;
   }
}

.none{
   display: none !important;
}

//     MAIN COMPONENTS   //


//     NAVIGATION BAR   //
.toggle{
   display: none;
}
.anti-toggle{
   display: flex;
}
#toggle{
   position: fixed;
   width: 60vw;
   height: 100vh;
   background-color: black;
   z-index: 2;
   box-shadow: -8px 7px 7px #0000002e;
   display: flex;
   justify-content: center;
   text-align: center;
   right: 0;
   flex-direction: column;
   .ex{
      font-size: 2.5rem;
      margin: .5rem;
      background: rgba(255, 255, 255, 0.486);
      top: 0;
      right: 0;
      padding: 0 .813rem;
      border-radius: 50%;
      transition: all .2s;

      &:hover, &:active{
         background-color: rgba(255, 0, 0, 0.164);
         color: rgb(153, 6, 6);
      }
   }
   & a{
      color: white;
      font-size: 1.3rem;
      text-decoration: none;
      border: 1px solid transparent;
      transition: all .2s;
      margin: .2rem auto;
      border-radius: 5px;
      width: 70%;

      &:hover{
         border: 1px solid white;
      }
   }
}
.nav{
   width: 100%;
   padding: 0 .1rem;
   overflow-y: hidden;
   margin: 0 auto;
   box-shadow: 0.1px 0.1px 19px #8080801c;

   .nav__content{
      width: 90%;
      margin: auto;
   }

   &_title{
      &-logo{
         height: 2.5rem;
         width: 2.5rem;
         margin: auto .5rem;
      }
      &-text{
         margin: auto 0;
      }
      &-text h1{
         font-weight: 900;
      }
      &-text h4{
         font-weight: 200;
         font-size: .6rem;
         letter-spacing: .1rem;
         text-transform: uppercase;
      }
   }
   &_links{
      min-width: 20%;
      z-index: 1;
      cursor: pointer;

      & li{
         margin: auto;
         height: fit-content;
         overflow: hidden;
      }

      & li:hover a{
         font-weight: 700;
      }
      & a{
         text-decoration: none;
         font-size: .8rem;
         height: 100%;
         color: black;
         padding: 2rem;
         cursor: pointer;
         transition: all .2s;
         
         &:hover{
            background: rgba(128, 128, 128, 0.065);
         }
      }
   }
}

header {
  height: 100vh;
//   background: 
//     linear-gradient(to top, rgba(0, 0, 0, 0.6) 5%, rgba(255, 255, 255, 1) 90%),
//     url('/assets/bbg.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
//   color: white;
}




// MAIN SECTION //
.hero, .content{
   overflow: hidden;
   position: relative;
   justify-content: center;   
   box-shadow: 1px 1px 1px #7a7a7a;
   &_image{
      z-index: 1;
      width: 28rem;
      height: 36rem;
      margin-top: auto
   }

   & img{
      width: 30rem;
      filter: drop-shadow(-5px 0px 0px rgba(0, 174, 255, 0.664));
      height: 36rem;
   }
   &_intro{
      // min-height: 50vh;
      margin: auto 0 3rem;
      z-index: 1;
      border: 1px solid #cacacad9;
      background-color: #aea6a600;
      padding: 5rem 3rem;
      border-radius: 15px;
      backdrop-filter: blur(15px);

      &-text{
         // color: white;
      }

      &-call-to-action{
         height: fit-content;
         padding: 1rem 0;
         display: flex;

         & a:hover {
            outline: 3px solid rgb(28 174 245);
            transform: scale(1.01);
         } 
      }
   }
   &_intro h1{
      font-weight: 900;
      font-size: 3.5rem;
      margin: 0 1rem;
   }
   &_intro h2{
      font-weight: 500;
      font-size: .8rem;
      margin: 0.3rem 1rem;
      letter-spacing: .4rem;
      text-transform: uppercase;
   }
   &_intro p{
      font-size: .9rem;
      font-weight: 400;
      margin: 1rem;
   }
   &_text-bg{
      position: absolute;
      left: 0;
      top: 0;
   }
   &_text-bg h1{
      font-size: 18em;
      line-height: 1.7;
      color: white;
      font-weight: 900;
      font-family: 'Monoton', sans-serif;
      filter: drop-shadow(1px 1px 30px rgba(91, 156, 255, 0.178));
   }
   &_text-bg_alt h1{
      font-size: 17.5rem;
      color: white;
      font-weight: 900;
      font-family: 'Monoton', sans-serif;
      filter: drop-shadow(1px 1px 30px rgba(255, 244, 91, 0.555));
      top: 0%;
   }
}




// PROJECTS SECTION //
.projects{
   font-size: 13px;
   position: relative;

   & h1{
      text-align: center;
      font-weight: 900;
      font-size: 3.5rem;
      margin: 3rem 0;
   }
   &_text-bg, &_text-bg h1{
      font-size: 20rem;
      z-index: -1;
      color: white;
      font-weight: 900;
      font-family: 'Monoton', sans-serif;
      filter: drop-shadow(1px 1px 30px rgba(247, 134, 238, 0.205));
      top: -5%;
      left: 15%;
   }
   &_tray{
      width: 100vw;
      overflow-x: scroll;
      margin: auto;
      padding-bottom: 3rem;

      &_card{
         height: 32em;
         margin: auto 1.5rem;
         min-width: 23em; 
         max-width: 23em; 
         border-radius: 1rem;
         border: 1px solid rgba(128, 128, 128, 0.575);
         background-color: #aea6a600;
         backdrop-filter: blur(15px);
         box-shadow: 6px 5px 0px #add8e67d;
      & h2{
         font-size: 1.1rem;
         text-transform: capitalize;
         font-weight: 900;
         letter-spacing: normal;
      } 

      }
      &_card-image{
         height: 8em;
         width: 85%;
         display: flex;
         outline-offset: .2rem;
         outline: 2px solid #7a7a7a;
         overflow: hidden;
         border-radius: .5rem;
         margin: 1rem auto;

         & img{
            height: 140%;
            margin: auto;
         }
      }
      &_card-hero{
         height: 20rem;
         width: 90%;
         margin : 1rem auto;
      }
      &_card-btns a.secondary{
         color: white;
         width: 95%;
         text-decoration: none;
         margin: 0.4rem auto;
         background-color: black;
         padding: 0.7rem 1rem;
         border-radius: 0.5rem;
         box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
         transition: all .2s;
      }
      &_card-btns a.primary{
         color: black;
         width: 95%;
         text-decoration: none;
         margin: 0.4rem auto;
         background-color: rgba(228, 228, 228, 0.842);
         border: 1px solid black;
         padding: 0.7rem 1rem;
         border-radius: 0.5rem;
         box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
         transition: all .2s;
      }
      &_card h1, &_card p{
         text-align: center;
      }
   }
}
.card{
   height: 28em;
   min-width: 20rem;
   max-width: 20rem;

   &_img{
      & img{
         width: 120%;
      }
   }
}

// Community

.community{
   font-size: 13px;
   position: relative;

   &_section-youtube{
      border: 1px solid #cacacad9;
      padding: 1rem;
      border-radius: 15px;
   }

   &_intro{
      min-height: 50vh;
      max-width: 85%;
      margin: auto 0 3rem;
      z-index: 1;
      border: 1px solid #cacacad9;
      background-color: #aea6a600;
      padding: 2rem;
      border-radius: 15px;
      backdrop-filter: blur(15px);
      
      & h2{
         font-size: 1.1rem;
         margin: .5rem 0;
         text-transform: normal;
         font-weight: 900;
         letter-spacing: normal;
      }
      &call-tp-action {
         color: black;
         margin: .5rem 0;
      }
   }

   & h1{
      text-align: center;
      font-weight: 900;
      font-size: 3.5rem;
      margin: 3rem 0;
   }
   &_text-bg, &_text-bg h1{
      font-size: 20rem;
      z-index: -1;
      color: white;
      font-weight: 900;
      font-family: 'Monoton', sans-serif;
      filter: drop-shadow(1px 1px 30px rgba(250, 98, 237, 0.205));
      top: 10%;
      left: -10%;
   }
   &_tray{
      height: 100vh;
      width: 100vw;
      overflow-x: scroll;
      margin: auto;

      &_card{
         height: 32em;
         background: white;
         margin: auto 1.5rem;
         min-width: 23em; 
         max-width: 23em; 
         border-radius: 1rem;
         border: 1px solid rgba(128, 128, 128, 0.575);
         box-shadow: 6px 5px 0px #add8e67d;
      & h2{
         font-size: 1.1rem;
         text-transform: capitalize;
         font-weight: 900;
         letter-spacing: normal;
      } 

      }
      &_card-image{
         height: 8em;
         width: 90%;
         outline-offset: .2rem;
         outline: 2px solid #7a7a7a;
         overflow: hidden;
         border-radius: .5rem;
         margin: 1rem auto;

         & img{
            height: 140%;
         }
      }
      &_card-hero{
         height: 20rem;
         width: 90%;
         margin : 1rem auto;
      }
      &_card-btns a.secondary{
         color: white;
         width: 95%;
         text-decoration: none;
         margin: 0.4rem auto;
         background-color: black;
         padding: 0.7rem 1rem;
         border-radius: 0.5rem;
         box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
         transition: all .2s;
      }
      &_card-btns a.primary{
         color: black;
         width: 95%;
         text-decoration: none;
         margin: 0.4rem auto;
         background-color: rgba(228, 228, 228, 0.842);
         border: 1px solid black;
         padding: 0.7rem 1rem;
         border-radius: 0.5rem;
         box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);
         transition: all .2s;
      }
      &_card h1, &_card p{
         text-align: center;
      }
   }
}

// CONTACT US //
.contact{
   font-size: 13px;
   position: relative;
   height: fit-content;
   padding: 3rem 0;
   box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.459);


   & h1{
      text-align: center;
      font-weight: 900;
      font-size: 3.5rem;
      margin: 3rem 0;
   }
   &_text-bg, &_text-bg h1{
      font-size: 20rem;
      z-index: -1;
      color: white;
      font-weight: 900;
      font-family: 'Monoton', sans-serif;
      filter: drop-shadow(1px 1px 100px rgba(167, 255, 174, 0.404));
      bottom: 0%;
      right: 15%;
   }
   &_form_pills_pill{
      background: black;
      box-shadow: 8px 8px 0px rgba(128, 128, 128, 0.459);
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto 2rem;

      & h1{
         font-size: 1rem;
         color: white;
         font-weight: 700;
         margin: 1rem;
      }
      & h2{
         font-size: .75rem;
         color: white;
         font-weight: 200;
         letter-spacing: .1rem;
         text-transform: uppercase;
      }
   }
   &_form{
      width: 70%;
      background-color: white;
      border-radius: .5rem;
      margin: auto;
      display: flex;
      flex-direction: row;
      height: 100%;
      border: 1px solid rgba(128, 128, 128, 0.548);
      padding: 1.5rem 0;

      &_form {
         background-color: white;
         border-left: 1px dashed rgba(128, 128, 128, 0.541);
      }
      &_form h2{
         width: 80%;
         margin: auto;
      }
      & button{
         background: black;
         color: white;
         border-radius: .5rem;
         padding: .7rem 0;
         margin: 1rem auto;
         width: 80%;
         font-family: 'Montserrat', sans-serif;
         box-shadow: 8px 8px 0px rgba(128, 128, 128, 0.459);
         transition: all .2s;
      }

      &_form-group{
         display: flex;
         flex-direction: column;
         margin: .5rem 0;

         & label{
            width: 80%;
            margin: .5rem auto;
         }
         & input{
            height: 2.5rem;
            border-radius: 0.5rem;
            margin: auto;
            width: 80%;
            outline: 0px solid $primary-color; 
            border: 1px solid #80808087;
            padding: 0 1rem;
            transition: all .2s;
         }
         & input:focus{
            border: 2px solid black;
         }
         & input.message{
            height: 5rem;
            border-radius: .5rem;
            width: 80%;
         }

      }
   }
   
}

.carousel{
   margin: auto;
}
.image-2, .image-2 img{
   width: 33rem ;
   // margin: auto;
}

.video{
   font-size: .8rem;
   margin: 1.5rem;
}

// FOOTER //
.footer{
   height: 20vh;
   background-color: black;
   text-align: center;
   color: white;

   & i, & a{
      color: white;
      font-size: 1.25rem;
      margin: .3rem .2rem;
      text-decoration: none;
   }
}

.oti{
   color: white;
   text-transform: uppercase;
   letter-spacing: .2rem;
   font-weight: 200;
}

.outer{
   overflow: hidden;
   height: 80%;
}
.inner{
   content:'';
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: #fff;
   border: 1px solid rgba(128, 128, 128, 0.548);
   border-radius: 50%; 
   left: 42%;
   z-index: 1;
}
.top{
   top: -15px;
}
.bottom{
   bottom: -15px;
}




@media (max-width:960px) {
   .nav{ 
      width: 98%;
      min-height: 7vh;

      &__content{
      width: 95%;
      margin: auto;
   }
   }              
   .toggle{
      display: flex;
   }
   .anti-toggle{
      display: none;
   }
   .hero_image{
      border: 10px solid;
      z-index: 1;
      width: 17rem;
      overflow: hidden;
      border-radius: 100%;
      height: 17rem;
   }
   .hero_intro-call-to-action {
      margin: .5rem 0;
      padding: .5rem 0;
   }
   .hero img{
      width: 100%;
      filter: drop-shadow(-5px 0px 0px rgba(0, 174, 255, 0.664));
      height: 20rem;
   }
   .image-2 img{
      height: 18rem;
      transform: scale(1.05);
   }
   .hero, .about, .projects, .contact, .community, .content{
      flex-wrap: wrap;
      width:100%;
      margin: 0.5rem auto;

      &_intro{
         width: 100%;
         margin: 1.2rem 0;
         border: 0px;
         background-color: transparent;
         justify-content: flex-start;
      }
      &_intro h1{
         font-size: 2rem;
         margin: 0 1rem;
      }
      &_intro h2{
         font-size: .6rem;
      }
   }
   .content_intro h2 strong{
      font-size: .6rem;
   }
   .community_intro {
      padding: 0;
   }
   .community_intro h2 {
      font-size: 1.1rem;
   }
   .projects_tray_card h2{
      font-size: 1.1rem;
   }
   .top, .bottom{
      display: none;
   }
   .contact{
      box-shadow: 0px 0px 0px;
   }
   .contact_form{
      background-color: transparent;
      width: 100%;
      border: 0px;

      & button{
         width: 90%;
      }

      &_pills{
         display: none;
      }

     &_form {
         background-color: transparent;
         width: 100%;

         & h2 {
            margin: auto 1.5rem;
         }

         &-group {
            margin: 0.5rem 1rem;

            & label, & input, & input.message{
               width: 95%;
            }            
        }

      }      
   }

   .hero{
      margin: 1rem auto;
   } 
   .about_hero{
      flex-wrap: wrap;
   }
   .projects h1, .contact h1, .community h1{
      font-size: 2rem;
      margin-left: 1rem;
      text-align: left;
      margin: .5rem 0 0 1.5rem;
   }
   .projects_text-bg, .projects_text-bg h1, .contact_text-bg h1 {
      font-size: 20rem;
   }
   .projects_tray {
      height: fit-content;
      padding: 3rem 0;
      width: 100vw;
      overflow-x: scroll;
      margin: auto;
   }   

   a{
      font-size: .8rem;
   }
   pre{
      margin: 1.5rem 1rem;
      height: 30rem;
   }


}

@media (max-width: 600px){
   .description{
      display: none;
   }
}

@media (max-width: 500px){
   .video{
      flex-direction: column;
      margin: 1rem;
   }
   .meta {
      margin: 1rem 0;
   }   
}

@media (max-width: 400px) {
   *{
      font-size: 14px;
   }

}
@media (max-width:300px) {
   *{
      font-size: 11px;
   }   
}